body {
    background: url('img/bg.jpg') no-repeat fixed center center / cover;
}

.banner {
    background: url('img/banner.jpg') no-repeat center center / cover;
    .iphone {
        position: absolute;
        top: 115px;
        left: 374px;
        overflow: hidden;
        width: 198px;
        height: 397px;
        background: url('img/iphone7p.png') no-repeat center center / 100%;
        video {
            width: 172px;
            height: 306px;
            margin-top: 44px;
            margin-left: 13px;
        }
    }
    .word {
        position: absolute;
        top: 215px;
        left: 700px;
        color: #ffffff;
        .title {
            font-size: 44px;
        }
        .content {
            margin-top: 20px;
            font-size: 30px;
        }
    }
    .download {
        display: block;
        width: 147px;
        height: 39px;
        margin-top: 85px;
        border: 1px solid #c8c8c8;
        border-radius: 5px;
        background: #454545 url('img/apple.png') no-repeat 17px center / 16px;
        outline: none;
        font-size: 18px;
        color: #ffffff;
        line-height: 39px;
        text-align: left;
        text-indent: 50px;
    }
}

.passing {
    overflow: hidden;
    height: 500px;
    background: #ffffff;
    .word {
        float: left;
        width: 545px;
        text-align: right;
        .title {
            margin-top: 170px;
            font-size: 36px;
            color: #4d4d4d;
        }
        .content {
            font-size: 16px;
            color: #909090;
            .line1 {
                margin-top: 50px;
            }
            .line2 {
                margin-top: 10px;
            }
        }
    }
    img {
        display: block;
        width: 361px;
        margin-top: 40px;
        margin-left: 735px;
    }
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url('img/bg.jpg') no-repeat center center / 100% 100%;
}

.transparent {
    height: 500px;
    background: transparent;
    .word {
        text-align: center;
        color: #ffffff;
        .title {
            padding-top: 105px;
            font-weight: bold;
            font-size: 36px;
        }
        .content {
            padding-top: 30px;
            font-size: 16px;
        }
    }
}

.scene {
    .word {
        top: 25%;        
        .title {
            font-size: 36px;
            color: #4d4d4d;
        }
        .content {
            margin-top: 50px;
            font-size: 16px;
            color: #909090;
            .line2 {
                margin-top: 15px;
            }
        }
    }
}

@media screen and (min-width: 1790px) {
    .banner {
        .iphone {
            top: 155px;
            left: 423px;
            width: 282px;
            height: 566px;
            video {
                width: 245px;
                height: 436px;
                margin-top: 64px;
                margin-left: 18px;
            }
        }
        .word {
            top: 305px;
            left: 925px;
            .title {
                font-size: 62px;
            }
            .content {
                font-size: 40px;
            }
        }
        .download {
            margin-top: 125px;
            width: 210px;
            height: 58px;
            border-radius: 10px;
            line-height: 58px;
            text-indent: 70px;
            font-size: 26px;
            background-position: 25px center;
            background-size: 23px;
        }
    }
    .passing {
        height: 700px;
        .word {
            width: 765px;
            .title {
                font-size: 50px;
                margin-top: 245px;
            }
            .content {
                font-size: 22px;
                .line1 {
                    margin-top: 65px;
                }
                .line2 {
                    margin-top: 20px;
                }
            }
        }
        img {
            width: 506px;
            margin-top: 55px;
            margin-left: 1034px;
        }
    }
    .transparent {
        .word {
            .title {
                padding-top: 150px;
                font-size: 50px;
            }
            .content {
                font-size: 22px;
            }
        }
    }
    .scene {
        .word {
            .title {
                font-size: 50px;
            }
            .content {
                font-size: 22px;
                .line2 {
                    margin-top: 20px;
                }
            }
        }
    }
}