<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Moni</title>
  <link rel="shortcut icon" href="../../img/logo.png" type="image/x-icon">
</head>

<body>

  <div class="banner min-width">
    <div class="inner">
      <div class="top-bar">
        <h1>
          <a href="/">
            <img src="../../img/logo.png" alt="moni">
          </a>
        </h1>
        <ul class="nav">
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <a href="/view/creator/creator.html">创造者</a>
          </li>
          <li>
            <a href="javascript:;">关于我们</a>
          </li>
          <li>
            <!-- <a href="/view/match/match.html">大赛</a> -->
          </li>
        </ul>
      </div>
      <div class="word">关于我们</div>
    </div>
  </div>

  <div class="desc min-width">
    <div class="inner">
      <div class="title1">我们是谁</div>
      <div class="content">唯乐屋（北京）软件有限公司是国际领先的虚拟互动技术研发创新企业</div>
      <div class="title2">我们希望</div>
      <div class="content">
        <div>通过技术及产品创新颠覆现在的互联网交互方式及体验</div>
        <div class="line2">与未来的年轻人一起创造出一个更加有趣和美丽的新世界</div>
      </div>
    </div>
  </div>

  <div class="scene min-width"></div>

  <div class="footer min-width">
    <div class="info">
      <div>联系方式：service@moni0.com</div>
      <div>公司地址：北京市海淀区中关村北大街151号燕园大厦6层7层</div>
      <div>京ICP备15025318号-7</div>
    </div>
    <div class="qr-wrap">
      <div>
        <img src="../../img/qq.png">
        <span>官方活动QQ群</span>
      </div>
      <div>
        <img src="../../img/weixin.png">
        <span>官方微信公众号</span>
      </div>
      <div>
        <img src="../../img/weibo.png">
        <span>官方微博</span>
      </div>
    </div>
  </div>

</body>

</html>