<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Moni</title>
  <link rel="shortcut icon" href="../../img/logo.png" type="image/x-icon">
</head>

<body>

  <div class="banner min-width">
    <div class="inner">
      <div class="top-bar">
        <h1>
          <a href="/">
            <img src="../../img/logo.png" alt="moni">
          </a>
        </h1>
        <ul class="nav">
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <a href="javascript:;">创造者</a>
          </li>
          <li>
            <a href="/view/about/about.html">关于我们</a>
          </li>
          <li>
            <!-- <a href="/view/match/match.html">大赛</a> -->
          </li>
        </ul>
      </div>
      <div class="word">
        <div class="title">皮肤创造器</div>
        <div class="tip">
          <div class="line1">在MONI虚拟世界APP中绑定邮箱</div>
          <div class="line2">申请成为创造者用户</div>
        </div>
        <div class="content">
          <div class="box">
            申请成为创造者可以在 OPEN BETA期间参与虚拟皮肤的设计制作，同时可以通过部署“小店”向其他居民售卖自己的皮肤。在未来创造者可以制作并部署MONI所支持的所有UGC内容，同时也有机会申请成为BETA版本TESTFLIGHT测试者。
          </div>
          <div class="last-line">一起来创造有趣新世界！</div>
        </div>
        <a href="javascript:;" class="look">点此观看教程视频>></a>
        <a href="javascript:;" class="download">创造器下载</a>
      </div>
      <img src="../../img/tool.png" class="tool">
    </div>
  </div>

  <div class="desc min-width">
    <div class="inner">
      <div class="line1">用户可以创造任何MONI世界中的物品、服务及互动内容并进行分享、分发、交易及获利</div>
      <div class="line2">一件虚拟角色的皮肤服装，到一个虚拟网红小店，甚至一个大型多人竞技在线游戏</div>
    </div>
  </div>

  <div class="transparent min-width">
    <div class="inner">
      <div class="line1">MONI的居民可以通过LBS</div>
      <div class="line2">随时随地发现所有内容创造者部署的玩法及服务</div>
    </div>
  </div>

  <div class="scene min-width">
    <img src="../../img/scene2.jpg">
    <div class="word">
      <div class="line1">MONI的居民可以通过LBS随时随地发现所有内容创造者</div>
      <div class="line2">部署的玩法及服务</div>
    </div>
  </div>

  <div class="footer min-width">
      <div class="info">
        <div>联系方式：service@moni0.com</div>
        <div>公司地址：北京市海淀区中关村北大街151号燕园大厦6层7层</div>
        <div>京ICP备15025318号-7</div>
      </div>
      <div class="qr-wrap">
        <div>
          <img src="../../img/qq.png">
          <span>官方活动QQ群</span>
        </div>
        <div>
          <img src="../../img/weixin.png">
          <span>官方微信公众号</span>
        </div>
        <div>
          <img src="../../img/weibo.png">
          <span>官方微博</span>
        </div>
      </div>
    </div>

</body>

</html>