<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Moni</title>
  <link rel="shortcut icon" href="../../img/logo.png" type="image/x-icon">
</head>

<body>

  <div class="banner min-width">
    <div class="inner">
      <div class="top-bar">
        <h1>
          <a href="javascript:;" href="/">
            <img src="../../img/logo.png" alt="moni">
          </a>
        </h1>
        <ul class="nav">
          <li>
            <a href="/">首页</a>
          </li>
          <li>
            <a href="javascript:;">创造者</a>
          </li>
          <li>
            <a href="/view/about/about.html">关于我们</a>
          </li>
          <li>
            <a href="/view/match/match.html">大赛</a>
          </li>
        </ul>
      </div>
      <div class="word">创造者</div>
    </div>
  </div>

  <div class="desc min-width">
    <div class="inner">
      <div class="line1">用户可以创造任何MONI世界中的物品、服务及互动内容并进行分享、分发、交易及获利</div>
      <div class="line2">一件虚拟角色的皮肤服装，到一个虚拟网红小店，甚至一个大型多人竞技在线游戏</div>
    </div>
  </div>

  <div class="transparent min-width">
    <div class="inner">
      <div class="line1">MONI的居民可以通过LBS</div>
      <div class="line2">随时随地发现所有内容创造者部署的玩法及服务</div>
    </div>
  </div>

  <div class="scene min-width">
    <div class="inner">
      <img src="../../img/scene2.jpg">
      <div class="word">
        <div class="line1">MONI的居民可以通过LBS随时随地发现所有内容创造者</div>
        <div class="line2">部署的玩法及服务</div>
      </div>
    </div>
  </div>

  <div class="footer min-width"></div>

</body>

</html>