body {
    background: url('../../img/bg2.jpg') no-repeat fixed center center / cover;
}

.banner {
    background: url('../../img/banner2.jpg') no-repeat center center / cover;
    .word {
        float: left;
        width: 480px;
        padding-top: 88px;
        text-align: right;
        color: #ffffff;
        line-height: 1;
        .title {
            font-size: 44px;
        }
        .tip {
            overflow: hidden;
            margin-top: 12px;
            line-height: 30px;
            font-size: 18px;
            color: #7498b8;
            .line2 {
                float: right;
                width: 266px;
                text-align: justify;
                text-align-last: justify;
            }
        }
        .content {
            float: right;
            margin-top: 16px;
            width: 266px;
            line-height: 18px;
            font-size: 12px;
            text-align: left;
            color: #ffffff;
            letter-spacing: 2.3px;
            text-align: justify;
            .last-line {
                text-align: right;
            }
        }
        .look {
            float: right;
            clear: both;
            padding-top: 14px;
            font-size: 16px;
            color: #f62656;
        }
        .download-wrap {
            float: right;
            clear: both;
            margin-top: 26px;
            .download {
                float: right;
                height: 30px;
                border: 1px solid #c8c8c8;
                border-radius: 5px;
                background: #454545;
                outline: none;
                font-size: 14px;
                color: #ffffff;
                line-height: 30px;
                &.download1 {
                    width: 104px;
                    margin-right: 20px;
                    text-align: center;
                }
                &.download2 {
                    position: relative;
                    width: 134px;
                    text-align: left;
                    text-indent: 18px;
                    cursor: pointer;
                    &::after {
                        position: absolute;
                        top: 14px;
                        right: 16px;
                        border: 4px solid transparent;
                        border-top: 4px solid #ffffff;
                        transform: rotateZ(-180deg);
                        transform-origin: 50% 2px;
                        transition: all .3s;
                        text-indent: 0;
                        content: '';
                    }
                    &:hover {
                        ul {
                            height: 120px;
                        }
                        &::after {
                            transform: rotateZ(0);
                        }
                    }
                    ul {
                        height: 0;
                        overflow: hidden;
                        padding-top: 10px;
                        text-align: center;
                        text-indent: 0;
                        transition: all .3s;
                        font-size: 12px;
                        li {
                            position: relative;
                            overflow: hidden;
                            line-height: 40px;
                            background: #ffffff;
                            &:hover {
                                font-size: 13px;
                            }
                            &:active {
                                font-size: 12px;
                            }
                            &:first-child {
                                border-top-left-radius: 6px;
                                border-top-right-radius: 6px;
                            }
                            &:last-child {
                                border-bottom-left-radius: 6px;
                                border-bottom-right-radius: 6px;
                            }
                            &::after {
                                position: absolute;
                                left: 50%;
                                bottom: 0;
                                width: 170px;
                                height: 1px;
                                margin-left: -85px;
                                background: #eeeeee;
                                content: '';
                            }
                        }
                    }
                }
            }
        }
    }
    .tool {
        display: block;
        width: 504px;
        margin-top: 90px;
        margin-left: 560px;
    }
}

.desc {
    height: 500px;
    background: #ffffff;
    text-align: center;
    line-height: 1;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 16px;
    color: #959595;
    .line1 {
        padding-top: 180px;
    }
    .line2 {
        padding-top: 25px;
    }
}

.transparent {
    position: relative;
    height: 500px;
    background: transparent;
    text-align: center;
    line-height: 1;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 16px;
    .line1 {
        padding-top: 225px;
    }
    .line2 {
        padding-top: 15px;
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -35px;
    }
}

.scene {
    line-height: 1;
    font-weight: lighter;
    letter-spacing: 1px;
    .word {
        top: 28%;
        color: #909090;
        font-size: 16px;
        .line2 {
            margin-top: 15px;
        }
    }
}

@media screen and (min-width: 1790px) {
    .banner {
        .word {
            width: 680px;
            padding-top: 140px;
            .title {
                font-size: 60px;
            }
            .tip {
                margin-top: 18px;
                line-height: 40px;
                font-size: 26px;
                .line2 {
                    width: 385px;
                }
            }
            .content {
                float: right;
                margin-top: 11px;
                width: 385px;
                letter-spacing: 4px;
                line-height: 28px;
                font-size: 17px;
                color: #ffffff;
            }
            .look {
                padding-top: 15px;
                font-size: 22px;
            }
            .download-wrap {
                margin-top: 35px;
                .download {
                    height: 45px;
                    border-radius: 10px;
                    line-height: 45px;
                    font-size: 20px;
                    &.download1 {
                        width: 147px;
                        margin-right: 35px;
                    }
                    &.download2 {
                        width: 185px;
                        text-indent: 23px;
                        ul {
                            li {
                                line-height: 50px;
                                font-size: 16px;
                                &:hover {
                                    font-size: 17px;
                                }
                                &:active {
                                    font-size: 16px;
                                }
                            }
                        }
                        &::after {
                            top: 22px;
                            right: 20px;
                            border: 6px solid transparent;
                            border-top: 6px solid #ffffff;
                            transform-origin: 50% 3px;
                        }
                        &:hover {
                            ul {
                                height: 150px;
                            }
                        }
                    }
                }
            }
        }
        .tool {
            width: 708px;
            margin-top: 140px;
            margin-left: 780px;
        }
    }
    .desc {
        height: 700px;
        font-size: 16px;
        .line1 {
            padding-top: 250px;
        }
        .line2 {
            padding-top: 35px;
        }
    }
    .transparent {
        height: 700px;
        font-size: 16px;
        .line1 {
            padding-top: 310px;
        }
        .line2 {
            padding-top: 20px;
        }
    }
    .scene {
        .word {
            font-size: 16px;
            .line2 {
                margin-top: 20px;
            }
        }
    }
    .footer {
        .apply {
            width: 300px;
            height: 80px;
            margin: 55px auto 0;
            border-radius: 10px;
            line-height: 80px;
            font-size: 28px;
        }
    }
}